<ion-header>
    <ion-navbar>
        <ion-title>Start Game</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <button (click)="startGame(19)" ion-button full>Karate Chop Jack</button>
</ion-content>
