html, body, ion-app {
  background-color: #000000!important;
}

* {
  font-family: 'Gilroy';
}

.content-ios .scroll-content {
  -webkit-overflow-scrolling: auto !important;
}

.popover-viewport {
  opacity: 1!important;
}

.tabbar {
  background: #ffffff;
}

// ion-header{
//   font-family: 'Abril Fatface';
// }

.center-middle-funnearn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

page-welcome .splash-intro {
  padding-top: 10px;
}

.ls-pt1{
  letter-spacing: 0.1rem;
}

.ls-pt2{
  letter-spacing: 0.2rem;
}

.swiper-pagination-bullet-active {
  background: map-get($colors, troofal);
}

.troofal-color {
  color: map-get($colors, troofal);
}

.troofal-background {
  background-color: map-get($colors, troofal);
}

ion-header ion-icon.back-button-icon.icon,ion-header .back-button-text {
    color: map-get($colors, white);
    // font-family: 'Abril Fatface' !important;
}

.header::after {
  background-image: none!important;
}

.troofal-logo {
  background: url('../assets/img/logo.png');
  width: 192px;
  height: 32px;
  background-size: contain;
  display: inline-block;
}

.toolbar-ios ion-title, .toolbar-md ion-title {
  padding-right: 16px;
    padding-left: 16px;
}

ion-icon{
  color : color($colors, troofal);
}

.menu-inner ion-icon {
  position: relative;
  top: 2px;
  width: 22px;
}

.text-center {
  text-align: center;
}

.golden {
  color: map-get($colors, golden);
}

.bold {
  font-weight: bold;
}

.gradient {
  background : -moz-linear-gradient(104.4% 55.47% 174.31deg,rgba(178, 128, 44, 1) 0%,rgba(183, 135, 48, 1) 5.8%,rgba(196, 154, 59, 1) 14.14%,rgba(218, 185, 77, 1) 23.96%,rgba(244, 221, 98, 1) 33.33%,rgba(244, 227, 139, 1) 51.61%,rgba(244, 221, 98, 1) 66.13%,rgba(178, 128, 44, 1) 100%);
  background : -webkit-linear-gradient(174.31deg, rgba(178, 128, 44, 1) 0%, rgba(183, 135, 48, 1) 5.8%, rgba(196, 154, 59, 1) 14.14%, rgba(218, 185, 77, 1) 23.96%, rgba(244, 221, 98, 1) 33.33%, rgba(244, 227, 139, 1) 51.61%, rgba(244, 221, 98, 1) 66.13%, rgba(178, 128, 44, 1) 100%);
  background : -webkit-gradient(linear,104.4% 55.47% ,-4.4% 44.53% ,color-stop(0,rgba(178, 128, 44, 1) ),color-stop(0.058,rgba(183, 135, 48, 1) ),color-stop(0.1414,rgba(196, 154, 59, 1) ),color-stop(0.2396,rgba(218, 185, 77, 1) ),color-stop(0.3333,rgba(244, 221, 98, 1) ),color-stop(0.5161,rgba(244, 227, 139, 1) ),color-stop(0.6613,rgba(244, 221, 98, 1) ),color-stop(1,rgba(178, 128, 44, 1) ));
  background : -o-linear-gradient(174.31deg, rgba(178, 128, 44, 1) 0%, rgba(183, 135, 48, 1) 5.8%, rgba(196, 154, 59, 1) 14.14%, rgba(218, 185, 77, 1) 23.96%, rgba(244, 221, 98, 1) 33.33%, rgba(244, 227, 139, 1) 51.61%, rgba(244, 221, 98, 1) 66.13%, rgba(178, 128, 44, 1) 100%);
  background : -ms-linear-gradient(174.31deg, rgba(178, 128, 44, 1) 0%, rgba(183, 135, 48, 1) 5.8%, rgba(196, 154, 59, 1) 14.14%, rgba(218, 185, 77, 1) 23.96%, rgba(244, 221, 98, 1) 33.33%, rgba(244, 227, 139, 1) 51.61%, rgba(244, 221, 98, 1) 66.13%, rgba(178, 128, 44, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2802C', endColorstr='#B2802C' ,GradientType=0)";
  background : linear-gradient(-84.31deg, rgba(178, 128, 44, 1) 0%, rgba(183, 135, 48, 1) 5.8%, rgba(196, 154, 59, 1) 14.14%, rgba(218, 185, 77, 1) 23.96%, rgba(244, 221, 98, 1) 33.33%, rgba(244, 227, 139, 1) 51.61%, rgba(244, 221, 98, 1) 66.13%, rgba(178, 128, 44, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2802C',endColorstr='#B2802C' , GradientType=1);
}

.black {
  color: #000000;
}

ion-alert {
  .fa-inr {
    font-size: 0.8em;
  }
}

ion-title {
  .fa-inr {
    font-size: 0.8em;
  }
}


.information-list {
  ion-label {
    white-space: normal;
  }
}

.toolbar-title {
  color: map-get($colors, white);
  font-size: 20px;
  font-family: 'Sunspire';
}

.toolbar-background {
  background-color: transparent!important;
  border-width: 0px!important;
}

.item-inner {
  .note {
    color: #000000;
  }
}

.alert-title {
    font-size: 22px!important;
    text-align: center;
    font-family: 'Gilroy-b';
    margin-top: 20px!important;
}

.alert-sub-title {
    font-size: 16px;
    text-align: center;
    margin-top: 14px;
}

.button-inner {
  text-align: center;
  -webkit-box-align: center!important;
  -webkit-align-items: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  -webkit-box-pack: center!important;
  -webkit-justify-content: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.alert-button-group {
  justify-content: center!important;
  margin-bottom: 20px;
}

.alert-button {
  margin: 0 15px 15px 0!important;
  width: 30%!important;
  min-width: 30%!important;
  border-radius: 10px!important;
  flex: none!important;
}

.alert-message {
  text-align: center;
  font-size: 15px!important;
}

.alert-button-group {
  .alert-button:nth-of-type(1) {
    background-color: #e40000;
    color: #ffffff;
    span {
      font-family: 'Gilroy-b';
    }
  }
  .alert-button:nth-of-type(2) {
    background-color: #3eb900;
    color: #ffffff;
    span {
      font-family: 'Gilroy-b';
    }
  }
}

.notifications-toast {
  position: absolute;
  bottom: 70px;
  text-align: center;
  width: 100%;

  .notification-body-toast {
    width: 94%;
    display: inline-block;
    background: #ffffff;
    box-shadow: 0px 3px 15px 0px rgba(102,102,102,1);
    padding: 20px 10px;
    max-height: 57px;
    overflow: auto;
    opacity: 0;
    * {
      font-family: 'Gilroy-b';
    }
    border-radius: 10px;
  }

  .left-image {
    width: 50px;
    img {
      width: 47px;
    }
  }

  .right-text {
    .heading {
      font-size: 16px;
      font-weight: bold;
    }

    .body {
      font-size: 13px;
      margin-top: 2px;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }

  .animated-notification-1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
  }

  .animated-notification-2 {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
  }
}

.notifications-area {
}

.right-arrow {
  font-size: 25px;
  width: 36px;
  ion-icon {
    color: #212121;
  }
}


.hbox {
  display:table;
  width:100%;
  height:100%;
  table-layout:fixed;

  .col {
    display:table-cell;
    float:none;
    height:100%;
    vertical-align: middle;
  }
}

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
}

@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

#coins {
  pointer-events: none!important;
}

.notificationAlert .alert-wrapper * {
    background-color: #000000;
    color: #ffd44f;
}

ion-alert .alert-wrapper {
  border-radius: 10px !important;
}

.alert-md.roundAlert .alert-wrapper {
  border-radius: 13px !important;
}
.alert-md.roundAlert .alert-button{
  border-radius: 5px;
  width: 100%;
}
.alert-md.roundAlert .alert-wrapper .button-inner {
  justify-content: center;
}

.alert-md.notificationAlert .alert-wrapper .button-inner {
    background-color: #ff4b4b!important;
    color: #ffffff!important;
}

.badge-md {
  &.tab-badge {
    top: 7%!important;
  }
}

.picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt.picker-opt-selected {
    color: #ff0000;
    font-size: 25px;
}

.menu-profile-pic{
  text-align: center;
  width: 100%;
  margin-top: 20px;
  img{
    border-radius: 50%;
    width: 50%;
  }
}
ion-menu{
  .item {
    color: #000000;
    background-color: transparent;
    font-size: 1.6rem;
    padding-left: 20px;
    // text-transform: uppercase;
  }
  .item.activated{
    background-color: rgba(130, 125, 125, 0.27);
  }

  .item-block .item-inner {
    border-bottom: 1px solid #676767!important;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23676767'/></svg>")!important;
  }

  h1{
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    padding: 5px 10px;
    // border-bottom: 1px dashed #000;
  }

  .user-photo-main {
    width: 150px;
    height: 150px;
    background-position: bottom;
    display: inline-block;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #f76208;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block, .list-ios > .item-block:first-child{
    border: none;
  }

  .menu-icon {
    margin-right: 14px;
    font-size: 2.2rem;
    color: #000000;
  }

  @media(max-width : 330px) {
    .item {
      font-size: 1.2rem!important;
    }

    .menu-icon {
      margin-right: 4px;
      font-size: 2.2rem!important;
    }

    .user-photo-main {
      width: 90px!important;
      height: 90px!important;
    }
  }
}


.funnearn-spinner {
  width: 60px;
  height: 60px;
  background: url('../assets/img/appicon-black.png');
  background-size: contain;
}

.loading-wrapper {
  background: none!important;
  box-shadow: none!important;
}


//   /* WebKit and Opera browsers */ @-webkit-keyframes spinner {
//     from
//     {
//         -webkit-transform: rotateY(0deg);
//     }
//     to {
//         -webkit-transform: rotateY(-360deg);
//     }
// } /* all other browsers */
// @keyframes spinner {
//     from {
//         -moz-transform: rotateY(0deg);
//         -ms-transform: rotateY(0deg);
//         transform: rotateY(0deg);
//     }
//     to
//     {
//         -moz-transform: rotateY(-360deg);
//         -ms-transform: rotateY(-360deg);
//         transform: rotateY(-360deg);
//
//     }
// }

@keyframes spinner {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(-360deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.rotate {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-name: spinner;
  animation-name: spinner;
}

.scaleme {
  animation: scaleme 2s infinite;
}

@-webkit-keyframes scaleme {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
            background: #ff0000;
      }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            background: #e8e800;
      }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
            background: #2a64b0;
       }
 }

@keyframes scaleme {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
      }

  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
      }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
       }
}

.backgroundcolorme {
  animation: backgroundcolorme 2s infinite;
}

@-webkit-keyframes backgroundcolorme {
  0% {
            background: #e8e800;
      }

  40% {
            background: #abf1ff;
      }

  80% {
            background: #92ffac;
       }

  100% {
           background: #e8e800;
      }
 }

@keyframes backgroundcolorme {
  0% {
            background: #e8e800;
      }

  40% {
            background: #abf1ff;
      }

  80% {
            background: #92ffac;
       }

  100% {
           background: #e8e800;
      }
}

.picker-wrapper {
  .picker-opt-selected {
    font-size: 22px!important;
  }

  .picker-opt {
    font-family: 'Gilroy-b';
  }

  .picker-button {
    span {
      font-family: 'Gilroy-b';
    }
  }
}

.toast-container {
  .toast-message {
    font-family: 'Gilroy-b';
    border-right: 1px solid #ffffff;
    text-align: center;
  }
  .button-inner {
    font-family: 'Gilroy-b';
  }
}


ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-play"] {
    background: url('../assets/img/buttonapp.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
